// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1600px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1540px
) !default;


$grid-columns:               12 !default;
$grid-gutter-width-base:     30px !default;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base * 2
) !default;

$font-size-base:		1rem;
$font-family-sans-serif:	'Montserrat Light';

// Colors
$brand-primary:			#f17b22;
$brand-black:			#1e1b1c;
$brand-gray:			#929292;
$brand-white:			#ffffff;

$nav-black:				#231f20;

$text-black:			#231f20;
$text-gray:				#797979;
$text-brand:			$brand-primary;

$quote-bg:				#f0f6f8;
$quote-encapsule:		#d6dfe2;

$cases-bg:				#f0f6f8;

$footer-bg:				#e5eaec;