.btn{
	cursor: pointer;
}

.btn:active,
.btn:hover{
	opacity: .6;
}

.btn-arrow:before{
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	content: "";
	width: 4rem;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.btn-arrow{
	position: relative;
	overflow: hidden;
	padding-right: 3rem !important;
}

.arrow-up:before{
	background-image: url(../images/arrows/up-black.svg);
}
.arrow-up.btn-activated:before {
	animation: moveUp 0.5s;
}
@keyframes moveUp {
	80% { transform: translateY(-250%); }
	81% { opacity: 1; transform: translateY(-250%); }
	82% { opacity: 0; transform: translateY(-250%); }
	83% { opacity: 0; transform: translateY(50%); }
	84% { opacity: 1; transform: translateY(50%);  }
	100% { transform: translateY(0%); }
}

.arrow-down:before{
	background-image: url(../images/arrows/down-black.svg);
}
.arrow-down.btn-activated:before {
	animation: moveDown 0.5s;
}
@keyframes moveDown {
	80% { transform: translateY(250%); }
	81% { opacity: 1; transform: translateY(250%); }
	82% { opacity: 0; transform: translateY(250%); }
	83% { opacity: 0; transform: translateY(-50%); }
	84% { opacity: 1; transform: translateY(-50%);  }
	100% { transform: translateY(0%); }
}

.arrow-right:before{
	background-image: url(../images/arrows/right-black.svg);
}
.arrow-right.btn-activated:before {
	animation: moveRight 0.5s;
}
@keyframes moveRight {
	80% { transform: translateX(250%); }
	81% { opacity: 1; transform: translateX(250%); }
	82% { opacity: 0; transform: translateX(250%); }
	83% { opacity: 0; transform: translateX(-50%); }
	84% { opacity: 1; transform: translateX(-50%);  }
	100% { transform: translateX(0%); }
}

.arrow-left:before{
	background-image: url(../images/arrows/left-black.svg);
}
.arrow-left.btn-activated:before {
	animation: moveLeft 0.5s;
}
@keyframes moveLeft {
	80% { transform: translateX(-250%); }
	81% { opacity: 1; transform: translateX(-250%); }
	82% { opacity: 0; transform: translateX(-250%); }
	83% { opacity: 0; transform: translateX(50%); }
	84% { opacity: 1; transform: translateX(50%);  }
	100% { transform: translatXY(0%); }
}

@include media-breakpoint-up(xs) {
	.btn-lg{
		@include button-size($input-btn-padding-y-lg-xs, $input-btn-padding-x-lg-xs, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
	}
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
	.btn-lg{
		@include button-size($input-btn-padding-y-lg-md, $input-btn-padding-x-lg-md, $font-size-lg, $line-height-lg, $btn-border-radius-lg);
	}

	.btn-arrow{
		padding-right: 4rem !important;
	}
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}