body{
	letter-spacing: .03rem;
}

p{
	margin-bottom: 2rem;
}

h5, h6{
	font-family: "Montserrat Light";
}
/* Arrow Icons */
.arrow-icon{
	display: inline-block;
	vertical-align: middle;
	width: 56px;
	height: 56px;
	background-size: contain;
	letter-spacing: .08rem;
	background-repeat: no-repeat;
	background-position: center;
	margin: -12px 0;

	&.up{
		background-image: url(../images/arrows/up-black.svg);
	}
	&.left{
		background-image: url(../images/arrows/left-black.svg);
	}
	&.right{
		background-image: url(../images/arrows/right-black.svg);
	}
	&.down{
		background-image: url(../images/arrows/down-black.svg);
	}
}
.typed-cursor {
	opacity: 1;
	animation: typedjsBlink 0.7s infinite;
	animation: typedjsBlink 0.7s infinite;
	animation-name: typedjsBlink;
	animation-duration: 0.7s;
	animation-timing-function: initial;
	animation-delay: initial;
	animation-iteration-count: infinite;
	animation-direction: initial;
	animation-fill-mode: initial;
	animation-play-state: initial;
}
@keyframes typedjsBlink{
	50% { opacity: 0.0; }
}

@-webkit-keyframes typedjsBlink{
	0% { opacity: 1; }
	50% { opacity: 0.0; }
	100% { opacity: 1; }
}

/* Icons */
.icon{
	display: inline-block;
	width: 32px;
	height: 32px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;

	&.call-us{
		background-image: url('../images/svg/call-us-white.svg');

		&-orange{
			background-image: url('../images/svg/call-us-orange.svg');
		}
		&-white{
			background-image: url('../images/svg/call-us-white.svg');
		}
		&-gray{
			background-image: url('../images/svg/call-us-gray.svg');
		}
	}

	&.mail-us{
		background-image: url('../images/svg/mail-us-white.svg');

		&-orange{
			background-image: url('../images/svg/mail-us-orange.svg');
		}
		&-white{
			background-image: url('../images/svg/mail-us-white.svg');
		}
		&-gray{
			background-image: url('../images/svg/mail-us-gray.svg');
		}
	}

	&.visit-us{
		background-image: url('../images/svg/visit-us-white.svg');

		&-orange{
			background-image: url('../images/svg/visit-us-orange.svg');
		}
		&-white{
			background-image: url('../images/svg/visit-us-white.svg');
		}
		&-gray{
			background-image: url('../images/svg/visit-us-gray.svg');
		}
	}

	&.mail{
		background-image: url('../images/svg/mail-white.svg');

		&-orange{
			background-image: url('../images/svg/mail-orange.svg');
		}
		&-white{
			background-image: url('../images/svg/mail-white.svg');
		}
		&-gray{
			background-image: url('../images/svg/mail-gray.svg');
		}
	}

	&.phone{
		background-image: url('../images/svg/phone-white.svg');

		&-orange{
			background-image: url('../images/svg/phone-orange.svg');
		}
		&-white{
			background-image: url('../images/svg/phone-white.svg');
		}
		&-gray{
			background-image: url('../images/svg/phone-gray.svg');
		}
	}

	&.smartphone{
		background-image: url('../images/svg/smartphone-white.svg');

		&-orange{
			background-image: url('../images/svg/smartphone-orange.svg');
		}
		&-white{
			background-image: url('../images/svg/smartphone-white.svg');
		}
		&-gray{
			background-image: url('../images/svg/smartphone-gray.svg');
		}
	}

	&.twitter{
		background-image: url('../images/svg/twitter-white.svg');

		&-orange{
			background-image: url('../images/svg/twitter-orange.svg');
		}
		&-white{
			background-image: url('../images/svg/twitter-white.svg');
		}
		&-gray{
			background-image: url('../images/svg/twitter-gray.svg');
		}
	}

	&.linkedin{
		background-image: url('../images/svg/linkedin-white.svg');

		&-orange{
			background-image: url('../images/svg/linkedin-orange.svg');
		}
		&-white{
			background-image: url('../images/svg/linkedin-white.svg');
		}
		&-gray{
			background-image: url('../images/svg/linkedin-gray.svg');
		}
	}

	&.instagram{
		background-image: url('../images/svg/instagram-white.svg');

		&-orange{
			background-image: url('../images/svg/instagram-orange.svg');
		}
		&-white{
			background-image: url('../images/svg/instagram-white.svg');
		}
		&-gray{
			background-image: url('../images/svg/instagram-gray.svg');
		}
		&-black{
			background-image: url('../images/svg/instagram-black.svg');
		}
	}

	&.facebook{
		background-image: url('../images/svg/facebook-white.svg');

		&-orange{
			background-image: url('../images/svg/facebook-orange.svg');
		}
		&-white{
			background-image: url('../images/svg/facebook-white.svg');
		}
		&-gray{
			background-image: url('../images/svg/facebook-gray.svg');
		}
	}

	&.strava{
		background-image: url('../images/svg/strava-white.svg');

		&-orange{
			background-image: url('../images/svg/strava-orange.svg');
		}
		&-white{
			background-image: url('../images/svg/strava-white.svg');
		}
		&-gray{
			background-image: url('../images/svg/strava-gray.svg');
		}
	}

	&.vsco{
		background-image: url('../images/svg/vsco-white.svg');

		&-orange{
			background-image: url('../images/svg/vsco-orange.svg');
		}
		&-white{
			background-image: url('../images/svg/vsco-white.svg');
		}
		&-gray{
			background-image: url('../images/svg/vsco-gray.svg');
		}
	}

	&.vsco-2{
		background-image: url('../images/svg/vsco-2-white.svg');

		&-orange{
			background-image: url('../images/svg/vsco-2-orange.svg');
		}
		&-white{
			background-image: url('../images/svg/vsco-2-white.svg');
		}
		&-gray{
			background-image: url('../images/svg/vsco-2-gray.svg');
		}
	}

	&.website{
		background-image: url('../images/svg/website-white.svg');

		&-orange{
			background-image: url('../images/svg/website-orange.svg');
		}
		&-white{
			background-image: url('../images/svg/website-white.svg');
		}
		&-gray{
			background-image: url('../images/svg/website-gray.svg');
		}
	}

	&.arrow-up{
		background-image: url(../images/arrows/up-white.svg);

		&-orange{
			background-image: url(../images/arrows/up-orange.svg);
		}
		&-white{
			background-image: url(../images/arrows/up-white.svg);
		}
		&-gray{
			background-image: url(../images/arrows/up-gray.svg);
		}
		&-black{
			background-image: url(../images/arrows/up-black.svg);
		}
	}
	&.arrow-left{
		background-image: url(../images/arrows/left-white.svg);

		&-orange{
			background-image: url(../images/arrows/left-orange.svg);
		}
		&-white{
			background-image: url(../images/arrows/left-white.svg);
		}
		&-gray{
			background-image: url(../images/arrows/left-gray.svg);
		}
		&-black{
			background-image: url(../images/arrows/left-black.svg);
		}
	}
	&.arrow-right{
		background-image: url(../images/arrows/right-white.svg);

		&-orange{
			background-image: url(../images/arrows/right-orange.svg);
		}
		&-white{
			background-image: url(../images/arrows/right-white.svg);
		}
		&-gray{
			background-image: url(../images/arrows/right-gray.svg);
		}
		&-black{
			background-image: url(../images/arrows/right-black.svg);
		}
	}
	&.arrow-down{
		background-image: url(../images/arrows/down-white.svg);

		&-orange{
			background-image: url(../images/arrows/down-orange.svg);
		}
		&-white{
			background-image: url(../images/arrows/down-white.svg);
		}
		&-gray{
			background-image: url(../images/arrows/down-gray.svg);
		}
		&-black{
			background-image: url(../images/arrows/down-black.svg);
		}
	}

	&.close{
		background-image: url(../images/svg/close-orange.svg);

		&-orange{
			background-image: url(../images/svg/close-orange.svg);
		}
	}
}