body{
	letter-spacing: .03rem;
}

p{
	margin-bottom: 2rem;
}

h5, h6{
	font-family: "Montserrat Regular";
}
/* Arrow Icons */
.arrow-icon{
	display: inline-block;
	vertical-align: middle;
	width: 56px;
	height: 56px;
	background-size: contain;
	letter-spacing: .08rem;
	background-repeat: no-repeat;
	background-position: center;
	margin: -12px 0;

	&.up{
		background-image: url(../images/arrow-up.svg);
	}
	&.left{
		background-image: url(../images/arrow-left.svg);
	}
	&.right{
		background-image: url(../images/arrow-right.svg);
	}
	&.down{
		background-image: url(../images/arrow-down.svg);
	}
}
.typed-cursor {
	opacity: 1;
	animation: typedjsBlink 0.7s infinite;
	animation: typedjsBlink 0.7s infinite;
	animation-name: typedjsBlink;
	animation-duration: 0.7s;
	animation-timing-function: initial;
	animation-delay: initial;
	animation-iteration-count: infinite;
	animation-direction: initial;
	animation-fill-mode: initial;
	animation-play-state: initial;
}
@keyframes typedjsBlink{
	50% { opacity: 0.0; }
}

@-webkit-keyframes typedjsBlink{
	0% { opacity: 1; }
	50% { opacity: 0.0; }
	100% { opacity: 1; }
}

/* Icons */
.icon{
	float: left;
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	vertical-align: middle;

	&.call-us{
		background-image: url('../images/beller-is-sneller.svg');
	}

	&.mail-us{
		background-image: url('../images/mailen-mag-ook.svg');
	}

	&.visit-us{
		background-image: url('../images/hier-vind-je-ons.svg');
	}

	&.twitter{
		background-image: url('../images/social/twitter.svg');
		&-white{
		}
	}

	&.linkedin{
		background-image: url('../images/social/linkedin.svg');
	}

	&.instagram{
		background-image: url('../images/social/instagram.svg');
	}

	&.facebook{
		background-image: url('../images/social/facebook.svg');
	}

	&.strava{
		background-image: url('../images/social/facebook.svg');
	}
}