.single-cases{
	.cases-teamleden{
		background-color: theme-color(case-bg);
		
		.single-title{
			margin-bottom: 28px;
		}
	}
	.case-related{
		background-color: theme-color(case-bg);
		
		.case-related-title{
			font-family: 'Montserrat Regular';
			font-size: 32px;
			line-height: 1;
		}
		.case-related-item{
			position: relative;
			background-image: url('../images/header_default.png');
			background-size:cover;
			background-position: center;
			padding-bottom: 25%;
			
			.related-content{
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				
				.related-image{
					height: calc(100% - 80px);
					text-align: center;
					padding: 2rem;
					
					img{
						max-height: 100%;
					}
				}
				.related-title{
					font-family: 'Montserrat Regular';
					font-size: 2rem;
					text-align: center;
					width: 100%;
					bottom: 0;
				}
			}
		}
	}
	.client-quote{
	
		.client-quote{
			position: relative;
			background-color: theme-color(quote-bg);
			padding: 60px 40px 40px;
			margin: 6rem 0 4rem;
	
			&:before{
				display: block;
				position: absolute;
				top: 80px;
	    		left: 120px;
	    		font-family: 'Montserrat Bold';
				font-size: 200px;
				color: theme-color(quote-encapsule);
				content: ',,';
				height: 0;
	    		width: 0;
	    		line-height: 0;
	    		transform: rotate(180deg);
	    
				}
			.client-quote-author{
				color: color(gray);
			}
		}
	}
	
	.manager-quote{
		color: color(white);
		margin-bottom: 4rem;
		
		a{
			color: color(white);
		}
		
		.manager-quote-bg{
			background-color: theme-color(primary);
		    box-shadow: inset 0 30px color(white);
		}
		.manager-quote-content{
			font-family: 'Montserrat Bold';
			padding-top: 30px;
		}
		.inset{
		    box-shadow: inset 0 3rem color(white);
		}
	}
	.related{}
}
@media (min-width: 576px){}
@media (min-width: 768px){}

@media (min-width: 992px){
	
	.single-cases{
		.case-title{
			.heading{
				br{
					display: initial;
				}
			}
		}
		.case-content{
			.case-row{
				.case-quote{
					margin-top: -200px;
					margin-left: -30px;
				}
			}
		}
	}
}
@media (min-width: 1200px){

	.single-cases{
		.case-content{
			.case-row{
				.case-quote{
					margin-top: -270px;
				}
			}
		}
	}
}