.related-cases{
	background-color: $content-bg;
	margin-bottom: 4px;

	.related-title{
		h5{
			font-family: 'Montserrat Bold';
		}
	}

	.related-list{
		background-color: $white;

		.slick-prev{
			position: absolute;
			right: 0;
			font-size: 0;
			line-height: 0;
			width: 0;
			height: 0;
		}

		.slick-next{
			position: absolute;
			right: 0;
			font-size: 0;
			line-height: 0;
			position: absolute;
			top: 50%;
			display: block;
			width: 40px;
			height: 40px;
			margin-top: -10px;
			padding: 0;
			cursor: pointer;
			color: transparent;
			border: none;
			outline: none;
			background-color: $black;

			&:before{
				display: block;
				content:" ";
				height: 40px;
				width: 40px;
				background-image:url(../images/arrow-right-white.svg);
			}

			&:hover{
				background-color: $orange;
			}

			&:active{
				opacity: .6;
			}
		}
		.related-item{
			box-shadow: inset 4px 0 0 0 $white;
			background-image: url(../images/header_default.png);
			background-size:cover;
			background-repeat: no-repeat;
			background-position:left bottom;

			&:focus{
				outline:none;
			}

			.related-item-content{
				display: block;
				position: relative;
				height: 25vw;

				&:focus{
					outline:none;
				}

				.related-item-title{
					position: absolute;
					bottom: 0;
					width: 100%;
					text-align: center;

					h4{
						color: $black;
						font-size: 1.6rem;
					}
				}

				.related-item-image{
					position: absolute;
					top: 40px;
					bottom: 40px;
					left: 20px;
					right: 20px;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;

					&:focus{
						outline:none;
					}
				}
			}
		}
	}
}


@media (min-width: 576px){}
@media (min-width: 768px){}

@media (min-width: 992px){

}
@media (min-width: 1200px){

}