.content-info{
	background-color: theme-color(footer-bg);
	height: 140px;
	padding: 40px 0;
	
	.footer-content{
		float: left;
		width: 70%;
	
		.footer-block{
			display: inline-block;
			padding: 10px;
			color: color(gray);
			
			.icon{
				float: left;
				width: 50px;
				height: 50px;
				background-color: color(gray);
				border-radius: 3000px;
				vertical-align: middle;
				
			}
	
			.content{
				float: left;
				padding-left: 10px;
				vertical-align: middle;
			
				.title{
					display: block;
				
				}
				.description{
					display: block;
					font-weight: 600;
				}
			}
		}
	}
	
	.footer-social{
		float: left;
		width: 30%;
		padding: 15px 0;
		color: color(gray);
		text-align: right;
		
		.title{
			vertical-align: middle;
		}
		.fa{
			vertical-align: middle;
			font-size: 40px;
			margin: 0 6px;
		}
	}
}