footer{
	background-color: $footer-bg;
	color: $gray-600;
	
	p{
		margin: 0;
		line-height: 1.6;
		font-size: .9rem;
		white-space: nowrap;

		strong{
			font-weight: normal;
			font-family: "Montserrat Bold";
		}
	}
}