footer.content-info{
	background-color: $footer-bg;
	color: $gray-600;
	padding-bottom: 50px;

	p{
		margin: 0;
		line-height: 1.6;
		font-size: .9rem;

		strong{
			font-weight: normal;
			font-family: "Montserrat Bold";
		}
	}

	.contact{
		.icon{
			height: 48px;
			width: 48px;
		}
	}
}

@include media-breakpoint-up(lg){
	
	footer.content-info{
		padding-bottom: 0px;
	}	
}