.banner{
	position: relative;
	background-position: left bottom;
	background-size: cover;
	
	.navigation{
		position: relative;
		margin-top: 20px;
		z-index: 2;
	
		.brand{	
			.brand-logo{
				background-image: url('../images/indrukwekkend.svg');
				background-size: contain;
				background-repeat: no-repeat;
				height: 60px;
				width: 100%;
				margin-bottom: 20px;
			}

			&:hover, &:active, &:focus{
				text-decoration: none;
			}
		}
	}
	.nav-primary{
		float: right;
		margin-right: 20px;

		.menu-hoofd-menu-container{
			height: 38px;

			.menu-item{
				margin: 0 10px;

				a{
					padding: 2px 4px;
					text-transform: lowercase;
					line-height: 48px;
					font-family: Montserrat Regular;
					letter-spacing: .1rem;
					font-size: 1.1rem;
					color: $black;

					&:hover{
						text-decoration: none;
						cursor: pointer;
						border-bottom: 2px solid $gray-100;
					}

					&:active{
						color: $orange;
					}
				}

				&.nav-phone{
					a{
						position: relative;
						color: $orange;
						font-family: 'Gochi Hand';
						letter-spacing: 1px;

						&:hover,&active{
							border: none;
						}

						&:after{
							position: absolute;
							top: 12px;
							left: 0;
							display: block;
							content:"";
							background-image: url('../images/lijn.svg');
							background-size: cover;
							background-position: center;
							background-repeat: no-repeat;
							height: 30px;
							width: 100%;
						}
					}
				}
			}

			.current-menu-item{
				a{
					color: $orange;
				}
			}
		}
	}

	.banner-content{
		min-height: 550px;
		height: auto;

		#headlines-typed{
			font-family: 'Montserrat Bold';
			position: relative;
			z-index: 999;

			span{
				z-index: 999;
			}

			.h3{
				color: $orange;
				line-height: 1.2;
			}

			.h4{
				color :$black;
			}
		}

		.typed-cursor{
			position:relative;
			color: $gray-100;
			z-index: 999;
			bottom: 2px;
			line-height: 1;
		}

		.buttons{

			.btn-arrowdown{
				display: inline-block;
				background-image: url('../images/arrow-down.svg');
				background-size: contain;
				background-repeat: no-repeat;
				width: 30px;
				height: 30px;
			}
		}

		img{
			z-index:0;
		}
	}
}

@include media-breakpoint-up(xs){
	.banner{
		.banner-content{
			.typed-cursor{
				font-size: $heading-scale-xs * $h1-font-size;
			}
		}
	}
}

@include media-breakpoint-up(sm){
	.banner{
		.banner-content{
			.typed-cursor{
				font-size: $heading-scale-sm * $h1-font-size;
			}
		}
	}
}

@include media-breakpoint-up(md){
	.banner{
		.banner-content{
			.typed-cursor{
				font-size: $heading-scale-md * $h1-font-size;
			}
		}
	}
}

@include media-breakpoint-up(lg){
	.banner{
		.banner-content{
			.typed-cursor{
				font-size: $heading-scale-lg * $h1-font-size;
			}
		}
	}
}
@include media-breakpoint-up(xl){
	.banner{
		overflow-x: hidden;

		.banner-content{
			height: 46vw;
			max-height: 720px;

			.typed-cursor{
				font-size: $h1-font-size;
			}
		}
	}
}