.banner{
	position: relative;
	background-position: bottom center;
	background-size: cover;
	overflow-x: hidden;
	
	.navigation{
		position: relative;
		margin-top: 20px;
		z-index: 2;
	
		.brand{	
			.brand-logo{
				background-image: url('../images/indrukwekkend.svg');
				background-size: contain;
				background-repeat: no-repeat;
				height: 60px;
				width: 100%;
				margin-bottom: 20px;
			}

			&:hover, &:active, &:focus{
				text-decoration: none;
			}
		}
	}
	.nav-primary{
		float: right;
		margin-right: 20px;

		.menu-hoofd-menu-container{
			height: 38px;

			.menu-item{
				margin: 0 10px;

				a{
					padding: 2px 4px;
					text-transform: lowercase;
					line-height: 48px;
					font-family: Montserrat Regular;
					letter-spacing: .1rem;
					font-size: 1.1rem;
					color: $black;

					&:hover{
						text-decoration: none;
						cursor: pointer;
						border-bottom: 2px solid $gray-100;
					}

					&:active{
						color: $orange;
					}
				}

				&.nav-phone{
					a{
						color: $orange;
						font-family: 'Gochi Hand';
						letter-spacing: 1px;

						&:hover,&active{
							border: none;
						}
					}
				}
			}
		}
	}

	.banner-content{
		min-height: 550px;
		height: 46vw;
		max-height: 720px;

		#headlines-typed{
			font-family: 'Montserrat Bold';
			position: relative;
			z-index: 999;

			span{
				z-index: 999;
				white-space: nowrap;
			}

			.h3{
				color: $orange;
				line-height: 1.2;
			}

			.h4{
				color :$black;
			}
		}

		.typed-cursor{
			position:relative;
			font-size: 4rem;
			color: $gray-100;
			z-index: 999;
			bottom: 2px;
			line-height: 1;
		}

		.buttons{
			margin-top: 3rem;
			margin-bottom: 8rem;

			.btn-arrowdown{
				display: inline-block;
				background-image: url('../images/arrow-down.svg');
				background-size: contain;
				background-repeat: no-repeat;
				width: 30px;
				height: 30px;
			}
		}

		img{
			z-index:0;
		}
	}
}
#overlay-teamleden,
#overlay-cases{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	background-color: $white;
	z-index: 9999;
	display: none;
	
	#overlay-teamleden-close,
	#overlay-cases-close{
		cursor: pointer;
	}

	.overlay-case{
		box-shadow: inset 0 0 0 2px #fff;
		background-image: url(../images/header_default.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 100%;

		&-content{
			display: block;
			position: relative;
			height: 400px;
			margin-right: ($grid-gutter-width / -2);
			margin-left:  ($grid-gutter-width / -2);
		}
		&-image{
			position: absolute;
			top: 40px;
			bottom: 40px;
			left: 20px;
			right: 20px;
			background-size: contain;
			background-position: 50%;
			background-repeat: no-repeat;
		}
		&-title{
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;

			h4{
				color: #231f20;
				font-size: 1.6rem;
			}
		}


		.overlay-case-hover{
			display: block;
			position: absolute;
			opacity: 0;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: rgba($orange, .7);
			z-index:99;

			.overlay-title{
				position: absolute;
				top: 10rem;
				width: 60%;
				margin: 0 20%;
				text-align: center;

				h4{
					text-shadow: 0 2px 13px #212529;
					font-size: 1.6rem;
				}
				hr{
					border: 1px solid $white;
					margin: 1rem 3rem;
				}
			}
		}

		&:hover{
			.overlay-case-hover{
				opacity: 1;
				transition:all 80ms ease;
			}
		}
	}

	.overlay-teamlid{
	.overlay-teamlid-content{
					display: block;
					position: relative;
					height: 400px;
					margin-right: ($grid-gutter-width / -2);
					margin-left:  ($grid-gutter-width / -2);

					.overlay-teamlid-hover{
						position: absolute;
						opacity: 0;
						top: 0;
						right: 0;
						left: 0;
						bottom: 0;
						background-color: rgba($orange, .7);
						z-index:99;
						transition:all 80ms ease;

						.overlay-teamlid-info{
							position: absolute;
							color: $white;
							width: 100%;
							text-align: center;
							top: 10rem;
							z-index: 999;

							h4{
								margin-bottom: 2.6rem;
								text-shadow: 0 2px 13px $gray-900;
								font-size: 1.6rem;
							}

							span{
								border-top: 2px solid $white;
								padding: 1.2rem .3rem;
							}
						}

						.overlay-teamlid-contact{
							position: absolute;
							color: $white;
							width: 100%;
							left: 0;
							right: 0;
							bottom: 10px;
							z-index: 999;
						}
					}

					&:hover{
						.overlay-teamlid-hover{
							opacity: 1;
							transition:all 80ms ease;
						}
						.overlay-teamlid-title{
							opacity: 0;
							transition:all 80ms ease;
						}
					}

					.overlay-teamlid-image{
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;

						&:focus{
							outline:none;
						}
					}

					.overlay-teamlid-title{
						position: absolute;
						bottom: 0;
						height:40px;
						width: 100%;
						text-align: center;
						transition:all 80ms ease;

						h4{
							color: $white;
							font-size: 1.6rem;
						}
					}
				}
	}
}