.brands-list{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	.brands-item{
		width: 190px;
		text-align: center;
		padding: 20px 5px;
		filter: grayscale(100%);
		transition:all 80ms ease;

		&:hover{
			filter: grayscale(0%);
		}
	}
}


.row-padding{
	padding-top: 48px;
	padding-bottom: 48px;
}

.instagram-container{
	.instagram-description{
		display: inline-block;
		vertical-align: middle;
		margin-right: 60px;

		.instagram-text{
			font-family: 'Madina Script';
			color: theme-color(primary);
			font-size: 50px;
			font-weight: 100;
			width: 380px;
		}

		.instagram-username{
			font-weight: bold;
			font-size: 20px;
			text-align: right;

			.fa{
				font-size: 40px;
				margin-right: 10px;
				vertical-align: middle;
			}
		}
	}
	
	.instagram-feed{
		display: inline-block;
		vertical-align: middle;
		max-width: 500px;
		margin-bottom: -20px;
		
		.sbi_item{
			.sbi_photo_wrap{
			}
		}
	}
}
.instagram-link{
	text-align: center;
	
	a{
		color: $gray-600;
		cursor: pointer;
	}
}
.page{
	.single-description{
		margin-bottom:4rem;
	}
}
.single, .page{
	background-color: $white;
	
	.single-intro{
		padding: 0;
	
		.singles-title{
			font-family: 'Montserrat Bold';
			font-size: 3rem;
			padding-bottom: 2rem;
		}
		.single-description{
			font-family: 'Montserrat Regular';
			
			h1{
				font-family: 'Montserrat Bold';
				margin-bottom: 3rem;
			}
		}
	}
	.single-title{
		position: relative;
		font-size: 3rem;
		line-height: 1.2;
		margin-bottom: -28px;
  				
		.heading{
			position: relative;
			font-family: Montserrat Bold;
			background-color: theme-color(single-bg);
			box-shadow: 10px 0px 0px 0px theme-color(single-bg), -10px 0px 0px 0px theme-color(single-bg);
			z-index: 1;
				
			br{
				display: none;
			}
		}

		.line{
			position: absolute;
			display: block;
			height: 1px;
			width: 100%;
			border: 2px solid theme-color(primary);
			bottom: 16px;
			z-index: 0;
		}
	}

	.single-content{
		background-color: theme-color(single-bg);
		padding-top: 4rem;

		.single-row{
			padding: 2rem 0;

			.single-quote{
				background-color: $white;
				box-shadow: 0 0 36px -16px theme-color(black);
			}
		}
	}
}
.single-icon{
	display: inline-block;
	vertical-align: middle;
	width: 56px;
	height: 56px;
	background-size: contain;
	letter-spacing: .08rem;
	background-repeat: no-repeat;
	background-position: center;
	
	&.small{
		width: 30px;
		height: 30px;
	}
    		
	&.email{
		background-image: url(../images/paper-plane.svg);
	}
	&.phone{
		background-image: url(../images/telefoon.svg);
	}
	&.mobile{
		background-image: url(../images/mobile.svg);
	}
	&.strava{
		background-image: url(../images/social/strava.svg);
	}
	&.facebook{
		background-image: url(../images/social/facebook.svg);
	}
	&.instagram{
		background-image: url(../images/social/instagram.svg);
	}
	&.linkedin{
		background-image: url(../images/social/linkedin.svg);
	}
	&.twitter{
		background-image: url(../images/social/twitter.svg);
	}
	
	&.strava-orange{
		background-image: url(../images/social/strava-orange.svg);
	}
	&.facebook-orange{
		background-image: url(../images/social/facebook-orange.svg);
	}
	&.instagram-orange{
		background-image: url(../images/social/instagram-orange.svg);
	}
	&.linkedin-orange{
		background-image: url(../images/social/linkedin-orange.svg);
	}
	&.twitter-orange{
		background-image: url(../images/social/twitter-orange.svg);
	}
}

@media (min-width: 576px){}
@media (min-width: 768px){}

@media (min-width: 992px){
	
	.single{
		.single-title{
			.heading{
				br{
					display: initial;
				}
			}
		}
		.single-content{
			.single-row{
				.single-quote{
					margin-top: -200px;
					margin-left: -30px;
				}
			}
		}
	}
}
@media (min-width: 1200px){

	.single{
		.single-content{
			.single-row{
				.single-quote{
					margin-top: -270px;
				}
			}
		}
	}
}