.page-header{
	.description{
		h1{
		}
	}
}
.primary-content{
	background-color: $content-bg;
}
.secondary-content, .tertiary-content{
	.heading{
		.title{
			background-color: $white;
			box-shadow: 10px 0px 0px 0px $white, -10px 0px 0px 0px $white;
		}
	}
}
.heading{
	position: relative;
	margin-bottom: -28px;
	z-index: 20;

	.title{
		display: inline;
		position: relative;
		background-color: $content-bg;
		box-shadow: 10px 0px 0px 0px $content-bg, -10px 0px 0px 0px $content-bg;
		color: $black;
		z-index: 1;

		span{
			position: relative;
		}

		br{
			display: none;
		}
	}

	.line{
		position: absolute;
		display: block;
		height: 1px;
		width: 100%;
		border: 2px solid $orange;
		bottom: 16px;
		z-index: 0;
	}
}

/* Part: Social Media */
.part-socialmedia{
	.social-link{
		font-family: "Montserrat Light";
	}
	h5{
		font-family: "Montserrat Bold";
	}
	.icon{
		width: 26px;
		height: 26px;
	}
}

/* Part: Quote*/
.part-quote{
	position: relative;
	margin-top: 0;
	background-color: $white;
	box-shadow: 0 0 2rem -1rem $gray-600;
	
	&:before{
		position: absolute;
		display: block;
		top: -3.1rem;
		left: 2.5rem;
		content: " ";
		height: 5.4rem;
		width: 5.4rem;
		background-image: url(../images/svg/quote-open-dark.svg);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.quote-content{}
	.quote-autograph{
		margin-top: -1.8rem;
	}

	&-client{
		background-color: $content-bg;

		&:before{
			position: absolute;
			display: block;
			top: -2.8rem;
			left: 2.5rem;
			content: " ";
			height: 5.4rem;
			width: 5.4rem;
			background-image: url(../images/svg/quote-open-dark.svg);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	&-manager{
		background-color: $orange;
		box-shadow: inset 0 3rem $white;
	}
}

/* Part: Contact */
.part-contact{
	color: $white;
	margin-top: -2rem;
	box-shadow: inset 0 -11rem $content-bg;

	a{
		color: $white;
	}

	.inset{
		box-shadow: inset 0 3rem $white;

		.text-right{
			border-right: 2px solid $white;
		}
	}

	br{
		display: none;
	}

	.icon{
		height: 32px;
		width: 32px;
	}
}

/* Part: Gallery */
.part-gallery{
	position: relative;
	min-height: 720px;

	.figure{
		position: absolute;
	}
	.image-1{
		top: 2%;
		right: 5%;
	}
	.image-2{
		top: 10%;
		left: 5%;
	}
	.image-3{
		position: relative;
		margin-top: 20%;
		z-index: 999;
	}
	.image-4{
		left: 5%;
		bottom: 3%;
	}
}

/* Part: Contributors */
.part-contributors{
	.contributor{
		position: relative;
		text-align: center;

		.contributor-image{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-size: contain;
			background-position: bottom center;
			background-repeat: no-repeat;
		}
		.contributor-title{
			position: absolute;
			bottom: 0;
			height: 40px;
			width: 100%;
			color: $white;
			margin-right: ($grid-gutter-width / -2);
			margin-left:  ($grid-gutter-width / -2);
		}
	}
}



.brands-list{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	.brands-item{
		width: 190px;
		text-align: center;
		padding: 20px 5px;
		filter: grayscale(100%);
		transition:all 80ms ease;

		&:hover{
			filter: grayscale(0%);
		}
	}
}

.instagram-container{
	.instagram-description{
		display: inline-block;
		vertical-align: middle;
		margin-right: 60px;

		.instagram-text{
			font-family: 'Madina Script';
			color: theme-color(primary);
			font-size: 50px;
			font-weight: 100;
			width: 380px;
		}

		.instagram-username{
			font-weight: bold;
			font-size: 20px;
			text-align: right;

			.fa{
				font-size: 40px;
				margin-right: 10px;
				vertical-align: middle;
			}
		}
	}
	
	.instagram-feed{
		display: inline-block;
		vertical-align: middle;
		max-width: 500px;
		margin-bottom: -20px;
		
		.sbi_item{
			.sbi_photo_wrap{
			}
		}
	}
}
.instagram-link{
	text-align: center;
	
	a{
		color: $gray-600;
		cursor: pointer;
	}
}

@media (min-width: 576px){}
@media (min-width: 768px){}

@media (min-width: 992px){

	.heading{
		.title{
			br{
				display: initial;
			}
		}
	}

	.part-contact{
		br{
			display: initial;
		}
	}
	.part-quote{
		margin-top: -70%;
	}
}
@media (min-width: 1200px){
}