@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
    src: url('../fonts/Montserrat-Regular.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.ttf');
    src: url('../fonts/Montserrat-Light.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
    src: url('../fonts/Montserrat-Bold.otf');
    font-weight: normal;
    font-style: normal;

}